:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.grid {
  width: 759px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

h1 {
  text-align: center;
}

img {
  -webkit-user-drag: none;
}
